<% if( typeof errors != 'undefined' ) { %>
    <% errors.forEach((error) => { %>
    <div class="alert alert-danger alert-dismissible fade show mt-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= error.msg %>
    </div>
    <% }) %>
<% } %>