<h1>Add your blogs articles here</h1>
<form action="/article/new" class="was-validated" method="POST">
    <%- include('_error.ejs') %>
    <%- include('_new_article') %>
    <button type="submit" class="btn btn-success d-inline">Add</button>
    <a href="/article" class="btn btn-secondary">Cancel</a>

</form>


